{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/python.jpeg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Python Apps Basicas</h1>
                        <hr class="star-light">
                        <span class="skills">¡Juguemos!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Python Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                <h1>Adición</h1>
                    <a href="/add_numbers" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/sumar.jpg" target="_blank" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Shopping List</h1>
                    <a href="/shopping_list" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/compras.png" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Tiempo Actual</h1>
                    <a href="/time" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/hora.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Los lenguajes con los que trabajo incluyen HTML, CSS and Python. Yo trabajo con la Flask Framework para Python development. Si no eres una persona técnica que le gustaria tener control sobre su sitio web then entones yo puedo crear un sitio web en Wordpress para usetd. Simplicidad, creatividad y claridad son los principios detrás de mi trabajo.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
